.u-section-1 .u-sheet-1 {
  min-height: 0;
  padding-bottom: 40px;
}

.u-section-1 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 23px 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 23px 10px;
}

.u-section-1 .u-text-1 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 10px 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-1 [class*="u-btn-"] {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }
}
